<div class="card">
    <div class="card-header">
        <h4 class="text-center text-primary">Simple Calculator</h4>
    </div>
    <div class="card-body">
        <div class="form-group d-flex flex-row">
            <input [(ngModel)]='num1' type="number" name="num1" class="form-control">
            <input [(ngModel)]='num2' type="number" name="num2" class="form-control">
        </div>
        <div class="d-flex flexr-row justify-content-between">
            <button class="btn btn-success" (click)="addition()">SUM</button>
            <button class="btn btn-primary" (click)="subtrac()">SUBRACT</button>
            <button class="btn btn-warning" (click)="muliplication()">MULTIPLICATION</button>
            <button class="btn btn-danger" (click)="division()">DIVISION</button>
        </div>
    </div>
    <div class="card-footer">
        <h4>The Sum of {{num1}} and {{num2}} is : {{result}} </h4>
    </div>